.submenu {
  padding-top: 15px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  li {
    width: 100%;
    margin: 0;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    isolation: isolate;
    background: linear-gradient(to right, #411886 0%, #209eed 100%);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(#000a, #000a),
        repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0 / 2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60% / 2500px 2500px;
      background-blend-mode: normal, difference;
      mix-blend-mode: overlay;
      opacity: .2;
    }

    a {
      color: #fff;
      display: block;
      position: relative;
      padding: 20px 100px 20px 30px;

      &::before {
        content: '';
        background: #fff;
        height: 2px;
        width: 36px;
        display: block;
        position: absolute;
        right: 40px;
        top: 35px;
        @include transition(all, 0.3);
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 0;
        border-color: transparent transparent #fff;
        position: absolute;
        right: 39px;
        top: 30px;
      }

      &:hover {
        &::before {
          width: 50px;
        }
      }
    }
  }
}