//-------------------------------------------------------------顏色---------//

//-------------------------------------------------------------字型--------//

// 字型設定
$arial: Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$notosans: 'Noto Sans', 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif, '0xe804';
$NotoSansTC: 'Noto Sans TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif;
$NotoSerifTC: 'Noto Serif TC', Arial, '微軟正黑體', 'Microsoft JhengHei', '蘋果儷中黑', 'Apple LiGothic Medium', sans-serif;
//-------------------------------------------------------------版面------//

$mainFontSize: 16;
$wrapperPaddingTop: 150px;
$wrapperPaddingTopMobile: 50px;
$headerTop: 45px;
$contentPadding: 60px;
$domWidth: 1320px;
$innerPage: 1320px;